<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
   http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	
	<listener>
		<listener-class>drm.taskworker.WorkerRegistration</listener-class>
	</listener>
	
	<servlet>
		<servlet-name>start</servlet-name>
		<servlet-class>drm.demo.StartWorkflowServlet</servlet-class>
	</servlet>
	<servlet>
	   <servlet-name>download</servlet-name>
	   <servlet-class>drm.demo.DownloadServlet</servlet-class>
	</servlet>
	<servlet>
	   <servlet-name>workflow</servlet-name>
	   <servlet-class>drm.demo.WorkflowServlet</servlet-class>
	</servlet>
	<!-- <servlet>
       <servlet-name>crawl</servlet-name>
       <servlet-class>drm.demo.CrawlServlet</servlet-class>
    </servlet>-->

	<servlet-mapping>
		<servlet-name>start</servlet-name>
		<url-pattern>/start</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
        <servlet-name>download</servlet-name>
        <url-pattern>/download</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>workflow</servlet-name>
        <url-pattern>/workflow</url-pattern>
    </servlet-mapping>
    <!-- <servlet-mapping>
        <servlet-name>crawl</servlet-name>
        <url-pattern>/crawl</url-pattern>
    </servlet-mapping>-->
</web-app>